<div class="container text-center">
  <%= link_to image_tag("ghost_water_tank.jpg") %>
  <div class="center">

    <h1>500</h1>
    <h2>Whoops, an internal error as occured.</h2>

      <%= link_to 'Go Back', :back %>

  </div>
</div>
