<div class="container text-center">
  <%= link_to image_tag("ghost_water_tank.jpg") %>
  <div class="center">

    <h1>422</h1>
    <h2>Sorry, you can't do that.</h2>

      <%= link_to 'Go Back', :back %>

  </div>
</div>
