.profile-wrapper {
  padding: 1em;
  .container {
    border-radius: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ededed;
    padding: 2em;
    .row {
      .col {
        .profile-photo img {
          width: 9em;
          border-radius: 1em;
        }
        .profile-username h3 {
          margin-top: 1em;
          text-transform: uppercase;
          font-size: 1.5em;
          font-weight: 700;
          vertical-align: middle;
          color: $secondary;
        }
      }
      .col {
        .user-mapped-count, .user-photo-count {
          font-weight: 700;
          color: $secondary;
          .fa {
            margin-right: .5em;
          }
        }
      }
      .col {
        .recent-activity, .recent-tank-photo {
          margin-top: 1em;
          h6{
            font-weight: 700;
            font-size: .7em;
            color: $secondary;
          }
          img {
            width: 9em;
            border-radius: 1em;
          }
        }
      }
      .col  {
        .mapped-tank-title {
          h2 {
            margin-top: 3em;
            font-weight: 700;
            font-size: 1.2em;
            color: $secondary;
            text-transform: lowercase;
          }
        }
        .table thead th {
          font-weight: 700;
          font-size: .9em;
          color: $secondary;
        }
        .table td {
          font-size: .7em;
          font-weight: 700;
          color: $secondary;
        }
      }
    }
    .row {
      .col {
        #map_section {
          margin-top: -2em;
          .map_title, .add_a_tank {
            display: none;
          }
        }
      }
    }
    .row {
      .tank-images{
        img {
          width: 9em;
          border-radius: .5em;
          margin-bottom: .5em;
        }
      }
    }
    .tank-photos-title{
      h2 {
        margin-top: 3em;
        font-weight: 700;
        font-size: 1.2em;
        color: $secondary;
        text-transform: lowercase;
      }
    }
  }
}
