$main: #353535;
$secondary: #595959;
$highlight: #439ecc;
$white: #ffffff;
$red: #f85151;

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

#top_header {
  padding: 1.5em 0;
  .logo {
    float: left;
    text-transform: uppercase;
    font-size:1.15em;
    font-weight: 700;
  }
  #main_nav{
    float: right;
    font-size: .9em;
    padding-top: 1em;
    a {
      color: $secondary;
      text-decoration: none;
      margin-left: 1em;
    }
  }
}

.menu {
  display: none;
}

#banner {
  background: url(../images/banner-background-malcolm-lightbody.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6.5em 0;
  #banner_content_wrapper {
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #featured_tank {
    width: 275px;
    position: relative;
    float: left;
    .featured_tank_image {
      width: 100%;
      max-width: 100%;
      border-radius: .5em;
      -webkit-box-shadow: 0px 0px 76px 0px rgba(0,0,0,0.47);
      -moz-box-shadow: 0px 0px 76px 0px rgba(0,0,0,0.47);
      box-shadow: 0px 0px 76px 0px rgba(0,0,0,0.47);
    }
  }
  #content {
    float: left;
    width: 500px;
    margin-left: 100px;
    .title {
      display: inline;
      font-size: 1.75em;
      color: $white;
    }
    .description {
      color: #bbbebf;
      font-size: 1em;
      line-height: 2;
    }
    .info {
      color: $white;
      font-size: .8em;
      font-weight: 700;
      margin-top: 3em;
    }
  }
}

#map_section {
  border-bottom: 1px solid #d4d4d4;
  padding: 5em 0;
  header {
    padding: 0 0 1.5em 0;
    h2, .view_more {
      display: inline;
    }
    h2 {
      font-size: 1.75em;
    }
    .add_a_tank {
      float: right;
      font-size: .8em;
      margin: .75em 3.5% 0;
    }
  }
}

.row {
  width: 100%;
  .the_map {
     width: 100%;
     margin-right: 2.5%;
     img {
       width:100%;
       max-width: 97%;
       border-radius: .5em;
     }
  }
}

#top_tanks {
  border-bottom: 1px solid #d4d4d4;
  padding: 5em 0;
  header {
    padding: 0 0 1.5em 0;
    h2, .view_more {
      display: inline;
    }
    h2 {
      font-size: 1.75em;
    }
    .view_more {
      float: right;
      font-size: .8em;
      margin: .75em 3.5% 0;
    }
  }
}

.row {
  width: 100%;
  .tank_location {
     width: 14%;
     float: left;
     margin-right: 2.5%;
     img {
       width:100%;
       max-width: 100%;
       border-radius: .5em;
     }
     .address {
       font-size: 1.25em;
       margin: 1em 0 0 0;
       color: $main;
     }
     .tank_info {
       font-size: .75em;
       color: $secondary;
       margin: 0.5em 0;
     }
  }
}

#sign_in {
  padding: 5em 0;
  text-align: center;
  background: #2a2a2e;
  .sign_in_inner {
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
  }
  h2 {
    font-size: 1.75em;
    color: $white;
  }
  .sign_in_form {
    margin-top: 3em;
    input[type="email"],input[type="text"] {
      width: 48%;
      margin: 0 .5%;
      height: 3.25em;
      border: none;
      outline: none;
      border-radius: .3em;
      background: #404043;
      padding: .5em 1.25em;
      font-size: .8em;
      color: $white;
    }
    .button {
      border: none;
      outline: none;
      padding: 1em 4.5em;
      border-radius: 2em;
      background: $highlight;
      color: $white;
      font-weight: 700;
      font-size: .9em;
      margin-top: 3em;
      i {
        color: $white;
        &:hover {
          color: $red;
        }
      }
    }
  }
}

#main_footer {
  padding: 2.5em 0;
  text-align: center;
  .logo {
    text-transform: uppercase;
    font-size:1.15em;
    font-weight: 700;
  }
  .open_source {
    color: $secondary;
    font-size: .75em;
    margin: 0;
  }
  .links {
    display: inline;
    a {
      color: $secondary;
      font-size: .75em;
      text-decoration: none;
      margin: 0 .5em;
      &:hover {
        color: $highlight;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #main_nav {
    display: none;
  }
  #main_nav.active {
    display: block;
    width: 100%;
    a {
      display: block;
      padding:  1em 0;
      border-bottom: 1px solid #e9e9e9;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .menu {
    display: block;
    float: right;
    i {
      font-size: 1.5em;
      color: $main;
      padding-top: .6em
    }
  }

  #banner {
    padding: 3.5em 0;
    #featured_tank {
      width: 250px;
    }
    #content {
      margin-left: 50px;
      .title {
        font-size: 1.5em;
      }
      .description {
        font-size: .9em;
      }
      .info {
        color: $white;
        font-size: .7em;
        margin-top: 2em;
      }
    }
  }

  #map_section {
    padding: 3em 0;
    header {
      padding: 0 0 1.5em 1.25%;
      h2 {
        font-size: 1.5em;
      }
      .add_a_tank {
        margin: .75em 2.25% 0 0 ;
      }
    }
  }

  .row {
    .the_map {
       margin: 0 1.25% 2em 1.25%;
       img {
         width:100%;
         max-width: 97%;
         border-radius: .5em;
       }
    }
  }

  #top_tanks {
    padding: 3em 0;
    header {
      padding: 0 0 1.5em 1.25%;
      h2 {
        font-size: 1.5em;
      }
      .view_more {
        margin: .75em 2.25% 0 0 ;
      }
    }
  }

  .row {
    .tank_location {
       width: 30.6%;
       margin: 0 1.25% 2em 1.25%;
       .address {
         font-size: 1em;
         margin: .5em 0 0 0;
       }
       .tank_info {
         font-size: .65em;
       }
    }
  }

}

@media only screen and (max-width: 575px) {
  #banner {
    #banner_content_wrapper {
      display: block;
      #featured_tank {
        width: 250px;
        float: none;
        display: block;
        margin: 0 auto;
      }
      #content {
        width: 100%;
        margin: 1em auto 0 auto;
      }
    }
  }

  #map_section {
    header {
      margin-bottom: 2em;
    }
  }

  .row {
    .the_map {
       margin: 0 auto 2em auto;
       float: none;
    }
  }


  #top_tanks {
    header {
      margin-bottom: 2em;
    }
  }

  .row {
    .tank_location {
       width: 250px;
       margin: 0 auto 2em auto;
       float: none;
    }
  }

  #sign_in {
    padding: 3em 0;
    h2 {
      font-size: 1.35em;
    }
    .sign_in_form {
      margin-top: 2em;
      input[type="email"], input[type="text"] {
        width: 90%;
        margin:0 0 1em 0;
      }
      .button {
        margin-top: 2em;
      }
    }
  }
}
