<footer id="main_footer">
  <p class="logo">Chicago Water Tanks</p>
  <p class="open_source">Do you code? <span><a href="https://github.com/loudmouse/water_tanks">Contribute</a></span> to this open source project.</p>
  <div class="links">
    <a href="#">About</a>
    <a href="#">Contact</a>
  </div>
</footer>
