<footer id="main_footer">
  <%= link_to image_tag("chicago-water-tanks-combo-500x150.png", class: 'footer_logo'), root_path %>
  <p class="open_source">Do you code? <span><a href="https://github.com/loudmouse/water_tanks">Contribute</a></span> to this open source project.</p>
  <div class="links">
    <a href="#">About</a>
    <a href="#">Contact</a>
  </div>
</footer>
