<section id="banner" class="clearfix">
  <div id="banner_content_wrapper">
    <div id="featured_tank">
      <%= image_tag "test_tank_photo.jpg", class: "featured_tank_image" %>
    </div>
    <div id="content">
      <h2 class="title">200 N Green St.</h2>
      <p class="description">6 Photos from 3 Users</p>
      <p class="info">1st Mapped by Josh on 5/11/2018</p>
    </div>
  </div>
</section>
