
  <div class="jumbotron hero-image">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">Help us map Chicago's historic water tanks.</p>
  <p class="lead">
    <!-- We can eventually link to an about page here.-->
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
