<section id="map_section" class="clearfix">
    <div class="wrapper">
      <header class="clearfix">
        <h2>Map of Water Tanks</h2>
        <p class="add_a_tank">
          <% if user_signed_in? %>
            <%= link_to "Add a Water Tank", new_tank_location_path(anchor: 'map-a-tank'), class: "button" %>
            <!-- <%= link_to "Map a Water Tank", new_tank_location_path(anchor: 'map-a-tank')%> -->
          <% end %>
          <% if !user_signed_in? %>
            <%= link_to "Sign Up", new_user_registration_path, class: "button-non-user" %>
          <% end %>
        </p>
      </header>

      <div class="row">
        <div class="the_map">
          <%= content_tag("div", id: "map", class: "jumbotron", data: { locations: @hash.to_json}) do %>
             Loading Map...
           <%end %>
        </div>
      </div>

    </div>
</section>
