<section id="sign_in">
  <div class="sign_in_inner">
    <h2>Help Us Map Chicago's Historic Water Tanks</h2>
    <div class="sign_in_form">
      <input type="email" placeholder="Email Address">
      <input type="text" placeholder="Password ">
      <button class="button">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
          Sign In
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </button>
    </div>
  </div>
</section>
